*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    font: inherit;
    outline:0;
   /* vertical-align:baseline;*/
   /*display:flex;*/
   font-family: 'Montserrat', sans-serif;
   
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black30:rgb(30,30,30);
    --black3040:rgb(30,30,30,0.4);
    --white: rgb(255, 255, 255);

}
/*Geral------------*/

html {
     }

body{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*Remover realce azul em smartphones*/
 
}

a{
 color: inherit;   
 text-decoration: none;
}
a:visited{
    color: inherit;
}

b{
    font-weight: 700;
}


/*Animação de tela-------------------------*/

.page-transition {
    animation: slide-in 0.5s ease-out;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

/*Scroll------------------------------*/

body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:rgb(0,0,0,0.15);    
    border-radius: 20px;       
  }

/*Cabeçalho-------------*/

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 120px;
    width: 100%;
    box-shadow: 1px 5px 20px rgb(0,0,0,0.1);
}

.nav a{
    font-weight:600;
}

.nav a:hover{
    opacity: 60%;
}

.menu_bar{
    display: none;
}

/*Corpo-------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;

}

.hist{
    margin-top: 25px;
    margin-bottom: 15px;
}


h1{
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform:  uppercase;
    text-align: center;
}

.legenda_conteudo{
    text-align: center;;
}



/*Cards----------------------*/


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 90%;
    max-width: 1400px;
    list-style: none;
    margin-top: 20px;
}

.card{
    max-width: 400px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

}

.card p{
    margin-bottom: 30px;
    max-width: 80%;
}

.card img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

/*Contato------------------*/

.contato{
    background-color:rgb(30, 30, 30);
    width: 160px;
    height: 40px;

    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
    transition: ease 0.5s;
}

.contato p{
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    
}

.contato:hover{
    opacity: 80%;
    transition: ease 1s;
}

/*Imagens Cards - Lightbox---------------------*/

.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery .image{
  min-width: 100%;
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.8s ease;
}
.gallery .image:hover img{
  transform: scale(1.05) ;
  border-radius: 20px;
  cursor: pointer;
}

.image span{
    border-radius: 20px 20px 0 0;
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 90%;
  max-width: 800px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: var(--black3040);
  font-size: 20px;
  cursor: pointer;
}


.prev:hover, .next:hover, .icon:hover{
    opacity: 70%;
}

.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
  
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img{
  width: 100%;
  border-radius: 5px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}


.image2{
    display: none;
}


/*Rodapé------------------*/
footer{
    margin-bottom: 25px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}




@media (max-width: 680px){
   
    nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-width: 100%;
        max-width: 100%;
    }
    
    .nav{
        justify-content: space-between;
    }

    .nav{
        height: 90px;
    }
    
    .nav img{
        max-height: 90px;
        margin-left: 10px;
    }

    .nav a{
        display: none;
    }
    
    .nav a:hover{
        opacity: 60%;
    }

    .nav .menu_bar{
        display: flex;
    }
    .menu_bar img{
        width: 30px;
        margin: 40px;
    }
    
}

